.landing-info{
    display: flex;
    flex-direction: column;
    background-color: #f3ce92;
    padding: 1rem;
    text-align: center;
    color: #fff;
}
.landing-buttons{
    margin-top: 10.4rem;
    justify-content: center;
}
.landing-buttons .link{
    padding: 1rem;
    background-color: #1c2331;
    
}
.landing-buttons .link:hover{
    background-color:#fff ;
    color: black;
}
.caro img{
    height: 25rem;
}